<style type="text/css">

	body {
		background-color:#CDD69C;
		color:#000000;
	}
	
	a {
		color:#000000;
	}
	
	.btn {
		background-color:#9CD6C2;
	}
	
	#navas {
		background-color:#9CD6C2;
		border-radius:5px;
		border-color:#000000;
	}
	
</style>